.table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2ea;
}

.table-hover tbody tr:hover{
  color: #212529;
  background-color: rgb(0,0,0,.075);
}

.btn-accions {
  text-align: center;
}